<link rel="import" href="/bower_components/polymer/polymer.html">

<polymer-element name="drug-item">
    <template>

	<style>
	 .drug-item{
	     float: left;
	     margin: 5px;
	 }
	 .drug-item .panel-heading{
	     padding: 10px;
	 }
	 .drug-item h2{
	     margin: 5px 0px;
	 }
	 .drug-item .panel-footer{
	     padding: 0px;
	 }
	 .drug-item #icon{
	     margin: 3px;
	 }
	 .drug-item .edit-drug{
	     color: #fbc02d;
	 }
	 .drug-item .delete-drug{
	     color: #dd2c00;
	 }
	 .drug-item .detail-drug, #ingredient{
	     color: #777;
	 }
	 .drug-item strong{
	     color: #555;
	 }
	</style>
	
	<div class="panel panel-default drug-item">
	    <div class="panel-heading">
		<h2><content select="span#label"></content></h2>
		<content select="span#ingredient"></content>
	    </div>
	    <div class="panel-body">
		<div class="row">
		    <div class="col-md-6">
			<strong>Taking: </strong><content select="span#taking"></content><br/>
			<strong>Form: </strong><content select="span#drugform"></content><br/>
			<strong>Dosage: </strong><content select="span#dosage"></content>
		    </div>
		    <div class="col-md-6">
			<strong>Notes: </strong><content select="span#notes"></content><br/>
			<strong>Reason: </strong><content select="span#reason"></content>
		    </div>
		</div>
	    </div>
	    <div class="panel-footer">
		<div class="row">
		    <div class="col-md-4">
			<core-item class="detail-drug" label="Details" icon="info-outline">
			    <a href="/drug/{{drug.id}}/"></a>
			</core-item>
		    </div>
		    <div class="col-md-4">
			<core-item class="edit-drug" label="Edit" icon="create">
			    <a href="#/drug/edit/{{drug.id}}"></a>
			</core-item>
		    </div>
		    <div class="col-md-4">
			<core-item class="delete-drug" label="Delete" icon="delete">
			    <a href="#" ng-click="deleteDrug(drug.id)"></a>
			</core-item>
		    </div>
		</div>
	    </div>
	</div>
    </template>
    <script>
     Polymer({});
    </script>
</polymer-element>
