<div>
    <drug-item ng-repeat="drug in drugs">
	<span id="label"">{{drug.label}}</span>
	<span id="ingredient">{{drug.ingredient}}</span>
	<span id="taking">{{drug.taking_morning}}|{{drug.taking_noon}}|{{drug.taking_evening}}|{{drug.taking_night}} {{drug.taking_unit}}</span>
	<span id="dosage">{{ drug.dosage }} {{ drug.dosage_unit }}</span>
	<span id="drugform">{{ drug.form }}</span>
	<span id="notes">{{ drug.notes }}</span>
	<span id="reason">{{ drug.reason }}</span>
	<a id="drug-detail-link" href="/drug/{{drug.id}}/"></a>
	<a id="drug-edit-link" href="#/drug/edit/{{drug.id}}"></a>
	<a id="drug-delete-link" href="#" ng-click="deleteDrug(drug.id)"></a>
    </drug-item>
    <a href="#/drug/add">
	<paper-fab id="fab-add" icon="add"></paper-fab>
    </a>
</div>
